.header {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-family: "IBM Plex Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.header .logo span {
  font-weight: 500;
}

.header .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 20px;
}

.social a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}

.social a:hover {
  opacity: 1;
}
