.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px;
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 100;
  opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
  .footer {
    display: none;
  }
}
