.cursor-inner,
.cursor-outer {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.cursor-inner {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  z-index: 1000;
}

.cursor-outer {
  width: 24px;
  height: 24px;
  background-color: rgba(255, 95, 56, 0.5);
  z-index: 999;
  transition: all 0.1s ease-out;
}

* {
  cursor: none;
}

// do not display custom cursor
// in mobile
@media (pointer: coarse), only screen and (max-width: 1000px) {
  .cursor-inner,
  .cursor-outer {
    display: none;
  }

  * {
    cursor: default;
  }
}
